<!DOCTYPE html>
<html>
    <head>
        <title>Update {{ category.getName }}</title>
    </head>
    <body>
        <h1>Update the {{ category.getName }} category</h1>

        <form action="/categories/{{ category.getId }}" method="post">
            <input type="hidden" name="_method" value="patch">

            <label for="name">Rename your category:</label>
            <input id="name" type="text" name="name">

            <button type="submit">Update</button>
        </form>

        <form id="" action="/categories/{{ category.getId }}" method="post">
            <input name= "_method" type="hidden" value="delete">
            <button type="submit">Delete this category yo!</button>

        </form>

    </body>
</html>
