<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>Welcome to To Do List</h1>

    <p>
        <a href="/categories">Add or view your categories.</a>
    </p>
    <p>
        <a href="/tasks">Add or view your tasks.</a>
    </p>
</body>
</html>
