<html>
    <head>
        <link rel="stylesheet" href="/css/normalize.css" media="all">
        <link rel="stylesheet" href="/css/skeleton.css" media="all">
        <link rel="stylesheet" href="/css/main.css" media="all">
        <title>To Do List</title>
    </head>
    <body>

        <div class="container">

            <div class="row">
                <p>
                    <a href="/">Home</a> &gt; Tasks
                </p>

                <h2>Tasks</h2>

                <ul>
                    {% for task in tasks %}

                        <li><a href="/tasks/{{ task.getId() }}">{{ task.getDescription() }}</a></li>

                    {% endfor %}
                </ul>

                {% if tasks is empty %}

                    <p>There are no tasks currently. Add some below!</p>

                {% endif %}
            </div>

            <div class="row">
                <form action="/tasks" method="post">
                    <label for="task_name">Task Name</label>
                    <input class="u-full-width" type="text" name="task_name" id="task_name" required>

                    <button type="submit">Add Task</button>
                </form>
                <form action="/delete_tasks" method="post">
                    <button class="caution" type="submit">Delete All</button>
                </form>
            </div>
        </div>
    </body>
</html>
